<html lang='en'>
  <head>
    <style>
      .container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
      }
      .highlight {
       color: #dc2626;
      }
    </style>
  </head>
  <body>
    <div class='container'>
  <h1>Goodbye {{name}} 😢</h1>
  <p class="highlight">Your account has been permanently deleted.</p>
  <p>Changed your mind? Contact {{supportEmail}} within 7 days to recover.</p>
</div>